@import url('https://use.fontawesome.com/releases/v6.0.0-beta2/css/all.css');

body {
    padding:0;
    border: 0;
    margin: 0;
}

.installApp--body {
    position: relative;
    height:auto;
    min-height: 43vh;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Poppins,sans-serif;
    overflow: auto;
    background-color: #f8f8f8;
}
.installApp--container {
    width: 100%;
    height:100%;
    display: flex;
}

.installApp--leftBox {
    width: 40%;
    height:auto;
    min-height:43vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    margin-left:10%;
}
.installApp--leftBox > :nth-child(1) {
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 1.1
}
.installApp--leftBox > :nth-child(2) {
    font-size: 1rem;
    color:gray;
}
.installApp--button {
    display: flex;
    justify-content: space-between;
}
.installApp--button > img {
    cursor: pointer;
}
.installApp--rightBox {
    width: 60%;
    height:auto;
    min-height:43vh;
    overflow: auto;
    display: flex;
    align-items: flex-end;
}
.installApp--rightBox > img {
    width: 100%;
    height:auto;
}

@media (max-width:1336px) {
    .installApp--leftBox > :nth-child(1) {
        font-size: 2rem;
    }
    .installApp--leftBox > :nth-child(2) {
        font-size:0.9rem
    }
    .installApp--button > img{
        width: 40%;
    }
}

@media (max-width:970px) {
    .installApp--leftBox > :nth-child(1) {
        font-size: 1.7rem;
    }
    .installApp--leftBox > :nth-child(2) {
        font-size:0.8rem
    }
    .installApp--button > img{
        width: 40%;
    }
}


@media (max-width:800px) {
    .installApp--leftBox {
        text-align: center;
    }
    .installApp--leftBox > :nth-child(1) {
        font-size: 1.7rem;
    }
    .installApp--leftBox > :nth-child(2) {
        font-size:0.8rem
    }
    .installApp--button > img{
        width: 50%;
    }

}
@media (max-width:630px) {
    .installApp--leftBox {
        margin-left:0;
        align-items: center;
        width: 100%;
        min-height:30vh
    }
    .installApp--button > img{
        width: 35%;
    }
    .installApp--container {
        flex-direction: column;
    }
    .installApp--rightBox {
        width: 100%;
        min-height:33vh;
        margin-top:50px
    }
}

@media (max-width:490px) {
    .installApp--rightBox {
        min-height:30vh;

    }
}

@media (max-width:375px) {
    .installApp--rightBox {
        min-height:25vh;

    }
}