@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    padding:0;
    border: 0;
    margin: 0;
}

.aboutCompany--body {
    position: relative;
    height:auto;
    min-height: 56vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Poppins,sans-serif;
    overflow: auto;
    background-color: white;
}
.aboutCompany--body > img {
    width: 50%;
    height:100%;
}

.aboutCompany--container {
    width: 50%;
    min-height: 56vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.aboutCompany--box {
    min-height: 56vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutCompany--box > :nth-child(1) {
    font-size: 2rem;
    font-weight: bolder;
    margin:20px 0;
}

.aboutCompany--box > :nth-child(2) {
    color:gray;
    margin:10px 0;
}
.aboutCompany--bottomBox {
    display: flex;
    justify-content: space-around;
    height:10vh;
    margin:50px 0;
}
.aboutCompany--Boxes {
    display: flex;
    height:30%;
    width: 30%;
}
.aboutCompany--Boxes > img {
    object-fit: contain;
    width: 20%;
    height: auto;
}
.aboutCompany--Boxes > div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
    
}