@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    padding:0;
    border: 0;
    margin: 0;
}

.review--body {
    position: relative;
    height:auto;
    min-height: 70vh;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins,sans-serif;
    overflow: auto;
    color:black;
    z-index: 10;
    background-color: #f8f8f8;

}
.review--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    width: 35%;
    height:45%;
    margin-bottom:50px
}

.review--title > :nth-child(1) {
    font-size: 1.3rem;
    font-weight: bold;
}

.review--title > :nth-child(2) {
    font-size: 2.5rem;
    font-weight: bold;
}
.review--title > :nth-child(3) {
    font-size: 0.85rem;
    text-align: center;
    color:gray
}
.review--container {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px
}
.review--whiteBackground {
    width: 550px;
    height:32vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2);
}
.review--leftBox {
    width: 90%;
    height:80%;
}
.review--rightBox {
    width: 90%;
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review--card {
    display: flex;
    height:30%;
    width: 100%;
}
.review--card > :nth-child(1) {
    width: 55px;
    height:55px;
    border-radius: 50px;
}
.review--rightBox > :nth-child(1) , .review--leftBox > :nth-child(1) {
    width: 90%;
    display: flex;
    font-size: 1.2rem;
}
.review--card {
    height:50%;
    display: flex;
    align-items: center;
    gap:15px
}
.review--card > div > :first-child {
    font-weight: bolder;
}
.review--card > :nth-child(3) {
    margin-left:auto
}

@media (max-width:1270px) {
    .review--title {
        width: 60%;
        height:45%;
        margin-bottom:50px
    }
    .review--whiteBackground {
        width: 450px;
        height:25vh;

    }
    .review--rightBox > :nth-child(1) , .review--leftBox > :nth-child(1) {
        font-size: 1rem;
    }
}

@media (max-width:980px) {
    .review--body {
        min-height: 90vh;
    }
    .review--container {
        width: 100%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:50px
    }
}

@media (max-width:760px) {
    .review--title {
        width: 80%;
        height:45%;
        margin-bottom:50px
    }
}

@media (max-width:570px) {
    .review--body {
        min-height: 100vh;
    }
    .review--title {
        width: 95%;
    }
    
    .review--title > :nth-child(1) {
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    .review--title > :nth-child(2) {
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
    }
    .review--title > :nth-child(3) {
        font-size: 0.8rem;
        text-align: center;
        color:gray
    }

}

@media (max-width:490px){
    .review--body {
        min-height: 110vh;
    }
    .review--whiteBackground {
        width: 300px;
        height:30vh;

    }
    .review--rightBox > :nth-child(1) , .review--leftBox > :nth-child(1) {
        font-size: 1rem;
    }

    .review--title {
        margin:50px 0 ;
    }
    
}

@media (max-height:780px){
    .review--whiteBackground {
        height:34vh;
        margin-bottom:20px
    }
}


@media (max-height:620px){
    .review--whiteBackground {
        height:40vh;

    }
}

@media (max-height:480px){
    .review--whiteBackground {
        height:50vh;

    }
}