@import url('https://use.fontawesome.com/releases/v6.0.0-beta2/css/all.css');

body {
    padding:0;
    border: 0;
    margin: 0;
}

.footer--body {
    position: relative;
    height:auto;
    min-height: 40vh;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins,sans-serif;
    overflow: auto;
    background-color: #43799f;
}
.footer--container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height:80%;
}

.footer--smallBox {
    width: 25%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;

}
.footer--smallBox > :not(:first-child) {
    color:white
}
.footer--smallBox > :nth-child(1) {
    font-size: 1.5rem;
    font-weight: bolder;
}

.footer--container >.footer--lastBox > button {
    width: 96.5% ;
    border:0;
    font-weight: bolder;
    color:black;
}

@media (max-width:1020px) {
    .footer--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 80%;
    height:100%;
}
    .footer--smallBox {
        width: 100%;;
    }
}

@media (max-width:580px) {
    .footer--container {
    grid-template-columns: 1fr;
    width: 50%;
    text-align: center;
}   
    .footer--smallBox {
        margin:20px 0;
    }
    .footer--body {
        min-height: 45vh;
}
}