@import url('https://use.fontawesome.com/releases/v6.0.0-beta2/css/all.css');

body {
    padding:0;
    border: 0;
    margin: 0;
}

.faq--body {
    position: relative;
    height:auto;
    min-height: 90vh;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Poppins,sans-serif;
    overflow: hidden;
    background-color: #fff;
}
.faq--body > img {
    position: absolute;
    right:-10%;
    top:35%;
    width: 34%;
    height: auto;
}

.faq--title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap:20px;
    width: 55%;
    height:auto;
    min-height:40vh;
    overflow: auto;
    
}

.faq--title > :nth-child(1) {
    font-weight: bolder;
    font-size: 1.5rem;
}

.faq--title > :nth-child(2) {
    font-weight: bolder;
    font-size: 2.5rem;
}

.faq--title > :nth-child(3) {
    font-size: 0.9rem;
    color:gray;
    text-align: center;
}

.faq--container {
    width: 45%;
    min-height:25vh;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    margin-top:50px;
}

.faq--container > div {
    display: flex;
    align-items: center;
    width: 100%;
    min-height:33%;
    cursor: pointer;
}

.faq--smallBox {
    display: flex;
    flex-direction: column;
}

.faq--smallBox > :nth-child(1) {
    width: 90%;
    height:8vh;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq--smallBox > div > img {
    height:20px;
    width: 20px;
}

.faq--smallBox > :nth-child(2) {
    height:auto;
    padding: 10px;
    box-sizing: border-box;
    width: 90%;
}

@media (max-width:1300px) {
    .faq--body {
        min-height: 90vh;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .faq--body > img {
        top:33%;
        width: 50%;
        height: auto;
    }
     .faq--container {
        margin-left:50px;
        width: 55%;
    }
    
}

@media (max-width:1050px) {
    .faq--title > :nth-child(2) {
        font-size: 1.5rem;
    }
    .faq--body > img {
        position: absolute;
        right:-15%;
        top:50%;
        width: 44%;
        height: auto;
    }
     .faq--container {
        margin-right:25px;
        width: 65%;
    }
}

@media (max-width:780px) {
    .faq--body > img {
        display: none;
    }
    .faq--body {
        align-items: center;
    }
     .faq--container {
        margin:0;
        width: 90%;
    }
    .faq--title {
        width: 75%;
    }
}

@media (max-width:570px) {

    .faq--smallBox > :nth-child(1) {
        font-size: 0.8rem;
        width: 100%;
    }
    .faq--title > :nth-child(1) {
        font-weight: bolder;
        font-size: 1rem;
    }
    
    .faq--title > :nth-child(2) {
        font-size: 1.4rem;
    }
    
    .faq--title > :nth-child(3) {
        font-size: 0.7rem;
        color:gray;
        text-align: center;
    }
    .faq--title {
        width: 95%;
    }
    .faq--smallBox > div > img {
        margin-right:15px
    }
}
@media (max-width:368px) {
    .faq--title > :nth-child(2) {
        font-size: 1.2rem;
    }
} 
